
.col-1 {float: left; box-sizing: border-box; width: 12.5%;}
.col-2 {float: left; box-sizing: border-box; width: 25%;}
.col-3 {float: left; box-sizing: border-box; width: 37.5%;}
.col-4 {float: left; box-sizing: border-box; width: 50%;}
.col-5 {float: left; box-sizing: border-box; width: 62.5%;}
.col-6 {float: left; box-sizing: border-box; width: 75%;}
.col-7 {float: left; box-sizing: border-box; width: 87.5%;}
.col-8 {float: left; box-sizing: border-box; width: 100%;}

.row-1 {box-sizing: border-box; height: 10%}
.row-2 {box-sizing: border-box; height: 20%}
.row-3 {box-sizing: border-box; height: 30%}
.row-4 {box-sizing: border-box; height: 40%}
.row-5 {box-sizing: border-box; height: 50%}
.row-6 {box-sizing: border-box; height: 60%}
.row-7 {box-sizing: border-box; height: 70%}
.row-8 {box-sizing: border-box; height: 80%}
.row-9 {box-sizing: border-box; height: 90%}
.row-10 {box-sizing: border-box; height: 100%}

.heading {border-style: solid solid none solid;}
.content {border-style: solid;}
.bottom {border-style: none solid solid solid;}

.heading, .content, .bottom {
    background-color: white;
    border-width: 2px;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    padding: 8px;
    margin: 0;
    background-color: lavender;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

div[class*="col-"] {
    padding: 8px;
    border: none;
    background-color: lavender;
    height: 100%;
}

div {
    background-color: white;
}

.editor-container *:disabled {
    background-color: lavender;
    color: black;
}

.editor-container-title {
    padding: 8px;
    display: flex;
}

.editor-input-title {
    margin: auto;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    border: none;
    resize: none;

    /* limit to 2 lines for text blocks. unfortunately, doesn't work for <input> or <textarea>
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

.editor-input-title:hover {
    border: 1px solid gray;
}

.editor-container-tags-type {
    display: flex;
    flex-direction: row;
}

/*
BELOW THIS IS COPIED FROM OLD STYLES.CSS =============================================
 */

.editor-container-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
}

.editor-container-body button, .editor-container-body input, .editor-container-body select {
    padding: 0.3em 5px 0.3em 5px;
    border: 1px solid darkorchid;
    background-color: white;
}

.editor-container-body button:hover {
    background-color: darkmagenta;
    color: white;
}

.editor-container-body button:active {
    background-color: darkorchid;
    color: white;
}

.editor-container-body div, .editor-container-body label {
    margin: 5px 0 5px 0;
}

.editor-label-tag {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-right: 10px;
}

.editor-input-tags {
    flex-grow: 1
}

.editor-label-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.editor-input-content {
    padding: 8px;
    resize: none;
    font-family: sans-serif;
    flex-grow: 1;
    border-style: inset;
}

.editor-container-id {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.editor-container-id * {
    margin: auto 5px auto 5px;
}

.search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px;
    align-items: center;
}

.search-container-input {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    display: flex;
}

.search-input {
    flex-grow: 1;
}

.search-results-list {
    position: absolute;
    border: none; /* or else empty search results will make a bar along the bottom of search box */
    top: 1.3em;
    width: 100%;
    margin: 0;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    background-color: darkmagenta;
    z-index: 25;
}

.search-container .search-results-item {
    margin: 5px 0 5px 0;
    padding: 5px;
    border: 2px solid darkmagenta;
    background-color: lavender;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-container .search-results-item:hover {
    outline: 3px solid magenta;
}

.search-container .search-results-item:active {
    background-color: magenta;
}

.viewer-container {
    height: 100%;
    padding: 20px 40px 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.viewer-container option {
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #f0d0f0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.viewer-container option:checked {
    background-color: lavender;
}

.viewer-container option:hover {
    background-color: darkmagenta;
    color: white
}

.viewer-container option[selected] {
    /* doesn't work. unfortunately, i can't figure out how to set the
    currently selected option's highlight color to not be the default blue.
    option[selected] doesn't work.
    *::selection and *::-moz-selection apply to other highlights, but not options.
    option:focus doesn't work.
     */
    background-color: pink;
}

.viewer-container option:focus {
    background-color: magenta;
}

.viewer-container select {
    padding: 10px 8px 10px 8px;
    margin: 10px 0 10px 0;
    border: 2px solid darkmagenta;
    flex-grow: 1;
}

.viewer-buttons {
    display: flex;
    flex-direction: row;
}

.viewer-buttons button {
    flex-grow: 1;
    flex-basis: 0;
    margin: auto 10px auto 10px;
    border: 2px solid darkmagenta;
    background-color: white;
    width: auto;
}

.viewer-container-select {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: lavender;
    border: 3px solid darkmagenta;
    padding: 10px 8px 10px 8px;
    width: 100%;
    flex-grow: 1;
    min-height: 75px;
}

.viewer-container-select button:hover {
    background-color: darkmagenta;
    color: white;
}

.viewer-container-select button:active {
    background-color: darkorchid;
    color: white;
}

.viewer-text-center {
    margin: 10px;
    height: auto;
    border: 3px solid darkmagenta;
    background-color: darkmagenta;
    color: white;
    text-align: center;
    padding: 5px 10px 5px 10px;
    word-wrap: break-word;
    min-height: 19px;
}

.history-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px 5px 5px;
}

.history-select {
    box-sizing: border-box;
    margin: 0 0 0 5px;
    width: 100%;
}
