
html {
    height: 100%;
    display: flex;
    background-color: lavender;
    font-family: sans-serif;
}

body {
    flex-grow: 1;
    display: flex;
    box-sizing: border-box;
}

#all-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
}

.node-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    border-color: darkmagenta;
}

.node-editor button, .node-editor input, .node-editor select {
    padding: 0.3em 5px 0.3em 5px;
    border: 1px solid darkorchid;
    background-color: white;
}

.node-editor *:disabled {
    background-color: lavender;
}

.node-editor button:hover {
    background-color: darkmagenta;
    color: white;
}

.node-editor button:active {
    background-color: darkorchid;
    color: white;
}

.node-editor div, .node-editor label {
    margin: 5px 0 5px 0;
}

.search-input-label {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.search-input-wrapper {
    position: relative;
    flex-grow: 1;
    margin-left: 5px;
    flex-direction: column;
    display: flex;
}

.node-search-input {
    flex-grow: 1;
}

.search-results-list {
    position: absolute;
    border: 1px solid darkmagenta;
    top: 1.3em;
    width: 100%;
    margin: 0;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    background-color: darkmagenta;
    z-index: 25;
}

.node-editor .search-results-item {
    margin: 5px 0 5px 0;
    padding: 5px;
    border: 2px solid darkmagenta;
    background-color: lavender;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.node-editor .search-results-item:hover {
    outline: 3px solid magenta;
}

.node-editor .search-results-item:active {
    background-color: magenta;
}

.title-editor-label {
    display: flex;
    flex-direction: column;
}

.tag-editor-label {
    display: flex;
    flex-direction: column;
}

.node-tags-input {
    flex-grow: 1
}

.content-editor-label {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.node-content-input {
    padding: 8px;
    resize: none;
    font-family: sans-serif;
    flex-grow: 1;
}

.node-input-container {
    display: flex;
    flex-direction: row;
}

.node-input-container * {
    margin: auto 5px auto 5px;
}

.node-viewer {
    flex-grow: 1;
    padding: 20px 40px 20px 30px;
    box-sizing: border-box;
    max-width: 36%;
    min-width: 36%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid darkmagenta;
}

.node-viewer-select-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: lavender;
    border: 3px solid darkmagenta;
    padding: 10px 8px 10px 8px;
    width: 100%;
    flex-grow: 1;
    min-height: 75px;
}

.node-viewer option {
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #f0d0f0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.node-viewer option:checked {
    background-color: lavender;
}

.node-viewer option:hover {
    background-color: darkmagenta;
    color: white
}

.node-viewer option[selected] {
    /* doesn't work. unfortunately, i can't figure out how to set the
    currently selected option's highlight color to not be the default blue.
    option[selected] doesn't work.
    *::selection and *::-moz-selection apply to other highlights, but not options.
    option:focus doesn't work.
     */
    background-color: pink;
}

.node-viewer option:focus {
    background-color: magenta;
}

.node-viewer-buttons {
    display: flex;
    flex-direction: row;
}

.node-viewer-buttons button {
    flex-grow: 1;
    flex-basis: 0;
    margin: auto 10px auto 10px;
    border: 2px solid darkmagenta;
    background-color: white;
    width: auto;
}

.node-viewer-select-container button:hover {
    background-color: darkmagenta;
    color: white;
}

.node-viewer-select-container button:active {
    background-color: darkorchid;
    color: white;
}

.node-viewer select {
    padding: 10px 8px 10px 8px;
    margin: 10px 0 10px 0;
    border: 2px solid darkmagenta;
    flex-grow: 1;
}

.node-viewer-center-text {
    margin: 40px 10px 40px 10px;
    height: auto;
    border: 3px solid darkmagenta;
    background-color: darkmagenta;
    color: white;
    text-align: center;
    padding: 5px 10px 5px 10px;
    word-wrap: break-word;
    min-height: 19px;
}

#view-history-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px 5px 5px;
}

#view-history-select {
    box-sizing: border-box;
    margin: 0 0 0 5px;
    flex-grow: 1;
}
