
html {
    height: 100%;
    display: flex;
    background-color: lavender;
    font-family: sans-serif;
}

body {
    flex-grow: 1;
    display: flex;
    box-sizing: border-box;
}

#all-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#text-container {
    flex-grow: 2;
    padding: 10px 10px 10px 10px;
    max-width: 64%;
}

#node-container {
    flex-grow: 1;
    margin: 20px 40px 20px 30px;
    box-shadow: rebeccapurple;
}

#node-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px outset darkmagenta;
    position: relative; /* position: relative is required by jsplumb https://docs.jsplumbtoolkit.com/community/#where-does-jsplumb-add-elements */
}

select {
    border: 2px outset magenta;
    padding: 10px 8px 10px 8px;
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
}

option {
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #f0d0f0;
}

#upper-select {
    margin-top: 20px;
}

#selected-node-view {
    margin: 50px 10px 50px 10px;
    height: 40px;
    border: 3px inset darkmagenta;
    text-align: center;
    padding: 5px 10px 5px 10px;

}

#lower-select {
    margin-bottom: 20px
}
